@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}


.type_colorless {
  @apply bg-gray-100;
}
.type_darkness {
  @apply bg-violet-500;
}
.type_dragon {
  @apply bg-yellow-600;
}
.type_fairy {
  @apply bg-pink-300;
}
.type_fighting {
  @apply bg-orange-600;
}
.type_fire {
  @apply bg-red-500;
}
.type_grass {
  @apply bg-green-600;
}
.type_lightning {
  @apply bg-yellow-400;
}
.type_metal {
  @apply bg-gray-300;
}
.type_psychic {
  @apply bg-violet-300;
}
.type_water {
  @apply bg-blue-400;
}




@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}